<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tweetz5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <tweetz5.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenName" serializeAs="String">
                <value />
            </setting>
            <setting name="Chirp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
        </tweetz5.Properties.Settings>
    </userSettings>
</configuration>
